# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# temporary LaTex files
*.aux
*.bbl
*.blg
doc/*.aux
*.DS_Store
*.dvi
*-eps-converted-to.pdf
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.synctex.gz
*.toc

# simulation data
examples/example-*/*.exnode
examples/example-*/*.exelem
examples/example-*/*.diag
examples/example-*/*.out
examples/example-*/results/current_run

# Misc
*~
failed.tests
results.summary
